
header h1 {
    background-color: rgba(0, 21, 139, 0.79);
    color: white;
    text-align: center;
    font-size: 15px;
    font-size: 20px;
    font: 1em sans-serif;
    padding: 10px;

}

.navbar{
    background-color: rgba(0, 0, 0, 0.781);
    bottom: 16px;
    position: relative;
    text-align: center;
}

.navbar ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 4px 50px;


}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 3px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* after feedback */


.navbar-section li a:hover {
    color: #fff; /* Text color on hover */
    background-color: rgba(0, 21, 139, 0.79); /* Background color on hover */
}





.my-info h2 {
    background-color: rgba(0, 21, 139, 0.79);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 40%;

    /* margin-right: 500px; */
    
}

.profile-pic {
    width: 150px;
    height: auto;
    position: relative;
    float: right;
    /* right: 550px; */
    right: 45%;
    display: flex;
}

.web-resources h2 {
    background-color: rgba(0, 21, 139, 0.79);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 61%;
    text-align: right;
    margin-top: -160px;
    text-align: center; 
}

    /* unvisited link */
    a:link {
        color: red;
    }
    
    /* visited link */
    a:visited {
        color: green;
    }
    
    /* mouse over link */
    a:hover {
        color: purple;
    }


.dev{
    margin-left: 70%;
    text-align: center;
    
}


/* .dev-section ul li{
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    margin-top: 700px;
    text-align: center;

} */


hr {
    margin-right: 5%;
    margin-left: 15%;
    margin-right: 40%;
}

.city h2 {
    margin-right: 40%;
    text-align: center;
    font-size: x-large;
}
.city p {
    margin-left: 30%;
}

.flag{
    width: 150px;
    height: 100px;
    position: relative;
    float: left;
    left: 200px;
}

.note{
    color: black;
    font-style: italic;
    position: relative;
    float: left;
    right: 160px;
    bottom: 35px;
}

footer{
    background-color: rgba(0, 21, 139, 0.79);
}


.last{
    color: white;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#lastModified{
    color: yellow;
}

@media(max-width: 700px){
    header h1 {
        background-color: rgba(0, 21, 139, 0.79);
        color: white;
        text-align: center;
        font-size: 15px;
        font-size: 20px;
        font: 1em sans-serif;
        padding: 10px;
    
    }
    
    .navbar{
        background-color: rgba(0, 0, 0, 0.781);
        bottom: 16px;
        position: relative;
        text-align: center;
    }
    
    .navbar ul li{
        text-decoration: none;
        list-style: none;
        display: inline-block;
        padding: 4px 50px;   
    }
    
    
    
    
    
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 3px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    
    /* after feedback */
    
    
    .navbar-section li a:hover {
        color: #fff; /* Text color on hover */
        background-color: rgba(0, 21, 139, 0.79); /* Background color on hover */
    }
    


    .my-info h2 {
        background-color: rgba(0, 21, 139, 0.79);
        color: white;
        text-align: center;
        border-radius: 5px;
        margin-right: 40%;
    
        /* margin-right: 500px; */
        
    }
    
    .profile-pic {
        width: 150px;
        height: auto;
        position: relative;
        float: right;
        /* right: 550px; */
        right: 45%;
        display: flex;
    }
    
    .web-resources h2 {
        background-color: rgba(0, 21, 139, 0.79);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-left: 61%;
        text-align: right;
        margin-top: -160px;
        text-align: center; 
    }
    
            /* unvisited link */
        a:link {
            color: red;
        }
        
        /* visited link */
        a:visited {
            color: green;
        }
        
        /* mouse over link */
        a:hover {
            color: purple;
        }
    
    .dev{
        margin-left: 70%;
        text-align: center;
        
    }
    
    
    /* .dev-section ul li{
        padding: 5px;
        border-radius: 5px;
        text-align: right;
        margin-top: 700px;
        text-align: center;
    
    } */
    
    
    hr {
        margin-right: 5%;
        margin-left: 15%;
        margin-right: 40%;
    }
    
    .city h2 {
        margin-right: 40%;
        text-align: center;
    }
    .city p {
        margin-left: 30%;
    }
    
    .flag{
        width: 150px;
        height: 100px;
        position: relative;
        float: left;
        left: 200px;
    }
    
    .note{
        color: black;
        font-style: italic;
        position: relative;
        float: left;
        right: 160px;
        bottom: 35px;
    }
    
    footer{
        background-color: rgba(0, 21, 139, 0.79);
    }
    
    
    .last{
        color: white;
        font-size: 1rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    
    #lastModified{
        color: yellow;
    }
    
}
